.content
    display: flex
    background-color: #56D351
    justify-content: space-around
    flex-wrap: nowrap
    flex-direction: row

.content__section
    width: auto
    background-color: #2AE929

.content__aside
    flex: 5rem
    background-color: #2AE929

