.content
    display: flex
    background-color: #56D351
    justify-content: space-around
    flex-wrap: nowrap
    flex-direction: row
.content__title
    text-align: center
.content__section
    width: auto
    background-color: #2AE929
    margin: 5px

.content__aside
    flex: 50rem
    background-color: #2AE929
    margin: 5px
.content__photos
    display: flex
    flex-direction: column
    align-items: center

.content__photo
    max-width: 300px
    margin-bottom: 5px